.ProductsSection {
    width: 100%;
    border-left: 1px solid #ccc;
}

.Products {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.PageSelectors {
    display: flex;
    justify-content: center;
    border-top: 1px solid #ccc;
    padding: 20px 0;
}