.NavigationItem {
    margin: 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: 24px;
    font-weight: 500;
}

.NavigationItem a {
    color: white;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    padding: 16px;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: rgb(1, 163, 1);
    background-color: white;
    border-right: 8px solid red;
}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 0px 0px;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
        font-size: 17px;
        font-weight: 500;
    }

    .NavigationItem a {
        color: white;
        height: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid transparent;
    }

    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        background-color: white;
        border-right: 0;
        border-bottom: 8px solid rgb(1, 163, 1);
        color: red;
    }
}