.CartButton button {
    border: none;
    background-color: gold;
    color: darkblue;
    width: 150px;
    height: 30px;
    font-weight: bold
}

.CartButton button:hover {
    cursor: pointer;
    background-color: goldenrod;
}